.contenCard {
  background-color: #575cba;
  height: 20rem;
  width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.label {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.label-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.label,
.label-input {
  margin: 10px 0;
}
.label-input input {
  width: 6rem;
}
input {
  margin-top: 4px;
  height: 30px;
  border: 2px solid rgba(240, 248, 255, 0);
  background-color: rgba(240, 248, 255, 0.295);
  border-radius: 6px;
  outline: none;
  padding: 0 8px;
  color: aliceblue;
  font-size: 16px;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.651);
}
button {
  background-color: #4ee0c1;
  height: 2rem;
  width: 50%;
  border: none;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  margin-top: 1rem;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.418);
}

.verde {
  border: solid 2px rgb(77, 248, 143);
}
